{% extends "main/base.html" %}
{% block sidebar %}
    {% include "main/sidebar_settings.html" %}
{% endblock %}
{% block content %}
<h2>General Settings</h2>

<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">URL</label>
        <input type="text" name="URL" class="form-control"
               value="{{ config.URL|default:'' }}">
    </div>

    <div class="mb-3">
        <label class="form-label">Interval (seconds)</label>
        <input type="number" name="INTERVAL" class="form-control"
               value="{{ config.INTERVAL|default:'300' }}">
        <div class="form-text">Should not be lower than 300 seconds.</div>
    </div>

    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" name="DEBUG" id="DEBUG"
              {% if config.DEBUG == "true" or config.DEBUG == "True" %}checked{% endif %}>
        <label class="form-check-label" for="DEBUG">
            Debug
        </label>
    </div>

    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" name="TESTNET" id="TESTNET"
               {% if config.TESTNET == "true" or config.TESTNET == "True" %}checked{% endif %}>
        <label class="form-check-label" for="TESTNET">
            Use exchange testnet (if available)
        </label>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock %}

